@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Dangrek&family=Holtwood+One+SC&family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Rubik+Spray+Paint&family=Six+Caps&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, "serif";
    background-color: #2c3e50; /* צבע כהה שמתואם לשאר האתר */
    color: #f9f9f9; /* צבע טקסט בהיר */
}
/* Pagination Colors */
.pagination .page-item.active .page-link {
    background-color: #f39c12; /* Use the same orange as the button hover effect */
    border-color: #f39c12;
    color: white;
}

.pagination .page-link {
    color: #f39c12; /* Use the same orange for inactive page links */
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* On hover, change the page link color */
.pagination .page-link:hover {
    background-color: #1f78b1; /* A subtle blue shade for hover effect */
    color: white;
    border-color: #1f78b1;
}

/* For the active state, use a slightly darker color on hover */
.pagination .page-item.active .page-link:hover {
    background-color: #e67e22; /* A darker shade of orange */
    border-color: #e67e22;
}

/* Pagination container styles for consistency */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em 0;
}

/* --------------------------------------------- NavBar --------------------------------------------- */
.navbar {
    background-color: #34495efb; /* שינוי צבע הרקע לנייבר לצבע כהה יותר */
    padding: 1.8em;
}

.navbar .nav-link {
    color: #f9f9f9;
    font-weight: 700;
    margin-right: 1em;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    font-size: 1em;
    will-change: transform; /* שיפור ביצועים */
}

.navbar .nav-link:hover {
    color: #f39c12; /* צבע אדום בהיר בהHover */
    transform: scale(1.05);
    text-shadow: 0 15px 5px rgba(0, 0, 0, 0.5); /* הוספת הצללה */
}

.navbar-brand {
    font-size: 1.8em;
    font-weight: 700;
    color: #f9f9f9;
    font-family: "Nosifer", sans-serif;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    will-change: transform;
}

.navbar-brand:hover {
    transform: scale(1.05);
    color: #f39c12;
    text-shadow: 0 15px 5px rgba(0, 0, 0, 0.5); /* הוספת הצללה */
}

.btn-search {
    text-decoration: none;
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 0.6em 1.2em;
    font-weight: 600;
    border-radius: 0.5em;
    will-change: transform;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-search:hover {
    background-color: #f39c12;
    transform: scale(1.05);
}

.btn-search:focus,
.btn-search:active {
    background-color: #f39c12 !important;
    box-shadow: none;
    outline: none;
}

.form-control:focus {
    outline: none;
    border-color: #f39c12;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
}

/* --------------------------------------------- NavBar --------------------------------------------- */

/* --------------------------------------------- Card --------------------------------------------- */
.flip-card {
    width: 18rem;
    height: 354px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s; /* Keep transition for smooth flip */
    transform-style: preserve-3d;
}

/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

.flip-card-front,
.flip-card-back {
    box-shadow: 8px 8px 14px 8px rgba(0, 0, 0, 0.8);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background: linear-gradient(
        120deg,
        #4e73df 60%,
        #4e73df 88%,
        #2c3e50 40%,
        rgba(44, 62, 80, 0.8) 48%
    );
    color: #f9f9f9;
}

.flip-card-back {
    background: linear-gradient(
        120deg,
        #4e73df 30%,
        #3498db 88%,
        #2c3e50 40%,
        #4e73df 78%
    );
    color: white;
    transform: rotateY(180deg);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.list-group-flush {
    overflow-y: auto;
    max-height: 230px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #3498db #34495e; /* צבעים חדשים: Thumb בצבע כחול, Track אפור כהה */
    margin-bottom: 4em;
}

/* דפדפן Webkit (Chrome, Safari, Edge) */
.list-group-flush::-webkit-scrollbar {
    width: 8px; /* רוחב הסקולור */
}

.list-group-flush::-webkit-scrollbar-track {
    background: #34495e; /* צבע רקע עבור Track */
    border-radius: 10px;
}

.list-group-flush::-webkit-scrollbar-thumb {
    background: #3498db; /* צבע ה-Thumb */
    border-radius: 10px;
    border: 2px solid #34495e; /* גבול דק בצבע כהה */
}

.list-group-flush::-webkit-scrollbar-thumb:hover {
    background: #1f78b1; /* שינוי צבע ה-Thumb בעת ריחוף */
}

.list-group-item {
    background-color: transparent;

    margin: 1.5em 0;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    border: 1px solid #1f78b1;
}

.list-group-item span:first-child {
    font-weight: bold;
    margin-right: 10px;
}

.list-group-item span:last-child {
    color: #515151;
    font-weight: bold;
}

.btn-div-back {
    position: absolute;
    top: 17.8rem;
    left: 5.5rem;
}

.card-title {
    font-family: "Poppins", sans-serif;
}

.card-text {
    font-family: "Nosifer", sans-serif;
}

.btn-front,
.btn-back {
    text-decoration: none;
    background-color: #f39c12;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 0.5em;
    will-change: transform;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-div-back {
    position: absolute;
    top: 18.1rem;
    left: 6rem;
}

/* --------------------------------------------- #res --------------------------------------------- */
#res {
    margin: 10em 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}
/* --------------------------------------------- #res --------------------------------------------- */

/* --------------------------------------------- Footer --------------------------------------------- */
footer {
    background-color: #34495e;
    color: #f9f9f9;
    padding: 2em 0;
    text-align: center;
    font-size: 1em;
}

footer .navbar-brand {
    font-size: 1.8em;
    font-weight: 700;
    color: #f9f9f9;
    font-family: "Nosifer", sans-serif;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    will-change: transform;
    margin-bottom: 1em;
}

footer .navbar-brand:hover {
    transform: scale(1.05);
    color: #f39c12;
    text-shadow: 0 15px 5px rgba(0, 0, 0, 0.5);
}

footer a {
    color: #f9f9f9;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
    color: #f39c12;
    transform: scale(1.05);
}

footer .social-icons {
    margin-top: 1em;
}

footer .social-icons i {
    color: #f9f9f9;
    margin: 0 1em;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

footer .social-icons i:hover {
    color: #f39c12;
}

/* עיצובים עבור מסכים ברוחב 320px */
@media (max-width: 320px) {
    .navbar-brand {
        font-size: 20px; /* שינוי גודל הלוגו או שם המותג */
        padding: 0; /* ביטול ריווח מיותר */
    }
    .navbar {
        padding: 2em 1em;
    }

    #res {
        margin: 10em 1em;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 7rem;
    }
}

@media (max-width: 576px) {
    .navbar {
        padding: 2em 0.5em;
    }
}

/* --------------------------------------------- Footer --------------------------------------------- */

/* ---------------------------------------------  --------------------------------------------- */
